<header id="top-header">
    <span class="logo">
        <a href="/" title="Return to home page"><img src="/images/salus-logo-150x150.webp" alt="Salus logo, a heart with a plant sprouting from the stem"></a>
    </span>
</header>