<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title><%= title %></title>
<link rel="shortcut icon" href="/images/salus-favicon.ico" type="image/x-icon">
<link href="/styles/styles.css" rel="stylesheet">