<nav>
    <div id="web-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
        </ul>
        <a href="/login" title="Login" id="login">Login</a>
    </div>
    <div id="mobile-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
</nav>