<nav>
    <div id="web-nav">

    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
    <button id="login">
        <a href="/login" title="Login">Login</a>
    </button>
</nav>