<main id="index_main">
    <h1>Project Salus</h1>
    <img srcset="https://placehold.co/300x200 300w, https://placehold.co/600x400 600w, https://placehold.co/1200x800 1200w" 
     sizes="(max-width: 599px) 300px, (min-width: 600px) and (max-width: 1199px) 600px, (min-width: 1200px) 1200px" 
     src="https://placehold.co/300x200" 
     alt="Placeholder for actual image" 
     id="hero" 
     loading="lazy">
    <div id="about__text">
        <p>Project started by Emilie Mickelsen and Josh Ramirez at Brigham Young University - Idaho.</p>
        <p>Salus is an open-source project that can be used by mental health professionals to help their patients track
            progress made with their Recovery Plans (specifically addiction recovery).</p>
        <p>For more information, please see our <a href="/about">About</a> page.</p>
    </div>
    <div id="placeholder__text">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto eveniet porro cumque similique quasi sapiente quia tempore odio, nisi, eius doloribus sit aliquam nam autem repudiandae? Repellat nesciunt temporibus perferendis?</p>
    </div>
    <div id="placeholder__text">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto eveniet porro cumque similique quasi sapiente quia tempore odio, nisi, eius doloribus sit aliquam nam autem repudiandae? Repellat nesciunt temporibus perferendis?</p>
    </div>
    <div id="placeholder__text">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto eveniet porro cumque similique quasi sapiente quia tempore odio, nisi, eius doloribus sit aliquam nam autem repudiandae? Repellat nesciunt temporibus perferendis?</p>
    </div>
</main>