<main id="about_main">
    <% if (title) { %>
        <h1>
            <%= title %>
        </h1>
        <% } else { res.redirect('/'); } %>
            <div id="about__text">
                <p>Project started by Emilie Mickelsen and Josh Ramirez at Brigham Young University - Idaho.</p>
                <p>Salus is an open-source project that can be used by mental health professionals to help their
                    patients
                    track progress made with their Recovery Plans (specifically addiction recovery).</p>
            </div>
            <div id="about__use">
                <h2>How to use</h2>
                <ol>
                    <li><a href="/login" title="Login">Login to or create an account</a></li>
                    <li><a href="/dashboard" title="Dashboard">View your dashboard</a></li>
                    <li>Fill out the required information</li>
                    <li>Track your progress with your medical professional</li>
                </ol>
            </div>
            <div id="about__privacy">
                <h2>Privacy</h2>
                <p>We respect your privacy and are committed to protecting it.</p>
                <p>The information we collect is encrypted and stored securely, and it is never shared.</p>
                <p>If there is any concern, please <a href="/contact">contact us</a>.</p>
                <p>For more information, please see our <a href="#privacy-frame">privacy policy</a>.</p>
                <iframe src="/static/privacy.html" frameborder="2" id="privacy-frame"></iframe>
            </div>
</main>

<script src="/scripts/scripts.js"></script>