@use "variables" as v;

$white: v.$white;
$black: v.$black;
$teal: v.$teal;
$blue: v.$blue;
$green: v.$green;

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $teal;
    color: $white;
    padding: .5rem;
    margin-bottom: 3.28rem;

    @media screen and (min-width: 768px) {
        margin: 0;
    }

}