@use "variables";
@use "nav";
@use "header";
@use "about";
@use "footer";


* {
    margin: 0;
    padding: 0;

    a {
        font-family: 'Times New Roman', Times, serif;
    }
}

#hero {
    max-width: fit-content;
}

body {
    padding-bottom: 4rem;
}